@model MVC_CV_Demo_Domein.PersoonModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersoonModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voorvoegsels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voorvoegsels)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersoonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
